.bg1 {
    background: #3ffb6e;
    background: linear-gradient(196deg, rgba(63, 251, 110, 1) 0%, rgba(227, 109, 227, 1) 49%, rgba(70, 210, 252, 1) 80%);
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    text-align: center;
    width: 75%;
    padding: 20px;
    border-radius: 5px;
    margin-top: 2rem;
}

.box1 {
    background-color: white;
    width: 10rem;
    height: 15rem;
    border-radius: 10px;
    background-color: rgb(240, 255, 29);
    box-shadow: 1px 2px 10px aqua;
}

.box2 {
    background-color: white;
    width: 10rem;
    height: 15rem;
    border-radius: 10px;
    background-color: coral;
    box-shadow: 1px 2px 10px aqua;
}

.box3 {
    background-color: white;
    width: 10rem;
    height: 15rem;
    border-radius: 10px;
    background-color: rgb(160, 255, 52);
    box-shadow: 1px 2px 10px aqua;
}

.box4 {
    background-color: white;
    width: 10rem;
    height: 15rem;
    border-radius: 10px;
    background-color: rgb(255, 74, 74);
    box-shadow: 1px 2px 10px aqua;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-top: 5px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5px;
}

p {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    height: 25px;
    width: 8rem;
    border-radius: 70px;
    border: none;
    margin-top: 35px;
    background-color: rgb(255, 117, 237);
}

button:hover {
    background-color: rgb(51, 255, 136);
    color: rgb(0, 0, 0);
    transition: 2s;
}


.bg2{
    background: #52fb3f;
    background: linear-gradient(129deg, rgba(82, 251, 63, 1) 0%, rgba(205, 86, 86, 1) 32%, rgba(81, 171, 157, 1) 56%, rgba(168, 215, 75, 1) 81%, rgba(252, 70, 203, 1) 100%);
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    text-align: center;
    width: 75%;
    padding: 20px;
    border-radius: 5px;
    margin-top: 2rem;
}

.box5{
    background-color: white;
    width: 10rem;
    height: 15rem;
    border-radius: 10px;
    background-color: rgb(204, 197, 197);
    box-shadow: 1px 2px 10px aqua;
}

.box6{
    background-color: white;
    width: 10rem;
    height: 15rem;
    border-radius: 10px;
    background-color: rgb(204, 197, 197);
    box-shadow: 1px 2px 10px aqua;
}

.box7{
    background-color: white;
    width: 10rem;
    height: 15rem;
    border-radius: 10px;
    background-color: rgb(204, 197, 197);
    box-shadow: 1px 2px 10px aqua;
}

.box8{
    background-color: white;
    width: 10rem;
    height: 15rem;
    border-radius: 10px;
    background-color: rgb(204, 197, 197);
    box-shadow: 1px 2px 10px aqua;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5px;
}

.btn {
    height: 25px;
    width: 8rem;
    border-radius: 70px;
    border: none;
    background-color: rgb(107, 138, 168);
    color: white;
    margin-top: 5px;
}

.box5:hover {
    background-color: rgb(70, 70, 168);
    color: white;
    transition: 2s;
}

.box6:hover {
    background-color: rgb(150, 167, 0);
    color: white;
    transition: 2s;
}

.box7:hover {
    background-color: rgb(255, 70, 178);
    color: white;
    transition: 2s;
}

.box8:hover {
    background-color: rgb(255, 175, 26);
    color: white;
    transition: 2s;
}
