footer {
    box-shadow: 5px 8px 10px 10px rgb(2, 255, 116);
    background: radial-gradient(circle, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    margin-top: 3rem;
    padding: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    color: rgb(255, 255, 255);
    font-size: 20px;
}